{
displayStrings = (
"̦Ņ/caroncomb.alt 'dď̒̒ģchdþedopbq

",
"eə",
ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstnuvwxyz,
"æ",
"0123456789/zero.tf 1/one.tf/two.tf/three.tf/four.tf/five.tf/six.tf/seven.tf/eight.tf/nine.tf",
"½¼¾⅛⅜⅝⅞",
"AÁĂÂÄÀĀĄÅÃÆBCĆČÇĈĊDĎĐÐEÉĚÊËĖÈĒĘẼƏFGĞǦĜĢĠḠHĦĤIĲÍĬÎÏİÌĪĮĨJ/Jacute ĴKĶLĹĽĻŁMNŃŇŅÑOÓŎÔÖÒŐŌØÕŒPÞQRŔŘŖSŚŠŞŜȘẞTŤTŢȚUÚŬÛÜÙŰŪŲŮŨVWẂŴẄẀXYÝŶŸỲỸZŹŽŻꞋ/Lcommaaccent.loclMAH/Ncommaaccent.loclMAH aáăâäàāąåãæbcćčçĉċdďđðeéěêëėèēęeẽəfgğǧĝģġḡhħĥiıíĭîï/idotaccent ìīįĩĳjȷ/jacute ĵkķlĺľļłmnńňņñoóŏôöòőōøõœpþqrŕřŗsśšşŝșßtťţțuúŭûüùűūųůũvwẃŵẅẁxyýŷÿỳỹzźžżꞌ/lcommaaccent.loclMAH/ncommaaccent.loclMAH ªº0123456789/zero.tf/one.tf/two.tf/three.tf/four.tf/five.tf/six.tf/seven.tf/eight.tf/nine.tf ⁄½¼¾⅛⅜⅝⅞ /nbspace/.notdef .,:;…!¡?¿·•*#///backslash/periodcentered.loclCAT/periodcentered.loclCAT.case -–—_(){}[]‚„“”‘’«»‹›\"'฿@&¶§c©®™°|¦†‡¢¤$€₴₽₹₪£₩¥+−×÷=≠><≥≤±≈~¬^∞∫∏∑√∂%‰̈̇̀́̋/caroncomb.alt ̧̨̦̂̌̆̊̃̄̒¨˙`´˝ˆˇ˘˚˜¯¸˛"
);
}
